body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.container {
    max-width: 10000px;
    max-height: 500px;
    margin: 190 auto;
    display: flex;
    align-items: center;
    height: calc(84vh - 40px);
    background-color: rgb(243, 242, 242);
    
}

.container .imagem-fundo-branco {
    top: 200px;
    left: 70px;
    border-top-left-radius: 0%;
    border-radius: 5%;
    position: absolute;
}

.container .imagem-plano {
   top: 100px;
   left: 70px;
   border-top-left-radius: 0%;
   border-radius: 6%;
   position: absolute;
}
 
.container .imagem-titulo {
   top: 180px;
   left: 70px;
   position: absolute;
}

.container .introducao {
    top: 302px; 
    left: 388px;
    position: absolute; 
}

.container .imagemlinha {
    top: 352px;
    left: 388px;
    position: absolute;
}


.container .linha1 {
    top: 364px;
    left: 388px;
    position: absolute;
}

.container .linha2 {
    top: 396px;
    left: 370px;
    position: absolute;
}

.container .linha3 {
    top: 429px;
    left: 370px;
    position: absolute;
}

.container .linha4 {
    top: 459px;
    left: 370px;
    position: absolute;
}

.container .linha5 {
    top: 489px;
    left: 370px;
    position: absolute;
}

.container .linha6 {
    top: 519px;
    left: 370px;
    position: absolute;
}

.container .btn-group {
    top: 587px;
    left: 508px;
    position: absolute;
}

.foto{
    top: 477px;
    left: 98px;
    position: absolute;
}